//#region imports
declare var System: any;
import getRoutes from 'components/AlgorithmView/Routes';
//#endregion

/**
 * Top level routing for `/algo/{%url%}/*` paths.
 *
 * Redirects all users from `/algo/{%url%}` to `/algo/{%url%}/input`.
 */
export const routes = getRoutes(
  '/algo/{%url%}', 
  System.import('./input'), 
  System.import('./result')
);

