//#region imports
import { Dispatch } from 'react-redux';
import { RootState } from 'reducers';
import { {%action%} } from 'actions/{%algorithm%}';
import { {%AlgorithmRequest%} } from 'lib/types';

//#endregion

export const mapStateToProps = (state: RootState) => ({ meta: state.{%action%}.meta });

export const mapDispatchToProps = (dispatch: Dispatch<any>) => ({
  onSubmit: (data: {%AlgorithmRequest%}) => dispatch({%action%}.request(data)),
  onCancel: () => dispatch({%action%}.cancel())
});