//#region imports

//#endregion

interface Data {
  values: ***
}

/**
 * Parses and validates input data.
 *
 * @description Takes a `Data` object as an argument. The calle of the function
 * is responsible, that `values` property of the data object
 * is in sync.
 *
 * @param data A data object that contains input for validation.
 * @return A parsed input, which corresponds to `***` object.
 */
export function validate(data: Data): *** {
  
  return ***;
}

