export const {%AlgorithmUppercase%}_REQUEST = '{%AlgorithmUppercase%}_REQUEST';
export const {%AlgorithmUppercase%}_SUCCES = '{%AlgorithmUppercase%}_SUCCES';
export const {%AlgorithmUppercase%}_CANCEL = '{%AlgorithmUppercase%}_CANCEL';
export const {%AlgorithmUppercase%}_FAIL = '{%AlgorithmUppercase%}_FAIL';